Localization
{
    en-us
    {
         // MEK MPK
      #LOC_tantares_mek_mpk_cargo_bay_s2_1 = #LOC_tantares_mek_mpk_cargo_bay_s2_1
      #LOC_tantares_mek_mpk_cargo_bay_s2_1_description = #LOC_tantares_mek_mpk_cargo_bay_s2_1_description
      #LOC_tantares_mek_mpk_cargo_bay_s2_1_tags = #LOC_tantares_mek_mpk_cargo_bay_s2_1_tags

      #LOC_tantares_mek_mpk_crew_s2_1 = #LOC_tantares_mek_mpk_crew_s2_1
      #LOC_tantares_mek_mpk_crew_s2_1_description = #LOC_tantares_mek_mpk_crew_s2_1_description
      #LOC_tantares_mek_mpk_crew_s2_1_tags = #LOC_tantares_mek_mpk_crew_s2_1_tags

      #LOC_tantares_mek_mpk_engine_bay_s2_1 = #LOC_tantares_mek_mpk_engine_bay_s2_1
      #LOC_tantares_mek_mpk_engine_bay_s2_1_description = #LOC_tantares_mek_mpk_engine_bay_s2_1_description
      #LOC_tantares_mek_mpk_engine_bay_s2_1_tags = #LOC_tantares_mek_mpk_engine_bay_s2_1_tags
      
      #LOC_tantares_mek_mpk_leg_bay_s2_1 = #LOC_tantares_mek_mpk_leg_bay_s2_1
      #LOC_tantares_mek_mpk_leg_bay_s2_1_description = #LOC_tantares_mek_mpk_leg_bay_s2_1_description
      #LOC_tantares_mek_mpk_leg_bay_s2_1_tags = #LOC_tantares_mek_mpk_leg_bay_s2_1_tags

      #LOC_tantares_mek_mpk_nose_cone_s0_1 = #LOC_tantares_mek_mpk_nose_cone_s0_1
      #LOC_tantares_mek_mpk_nose_cone_s0_1_description = #LOC_tantares_mek_mpk_nose_cone_s0_1_description
      #LOC_tantares_mek_mpk_nose_cone_s0_1_tags = #LOC_tantares_mek_mpk_nose_cone_s0_1_tags

      #LOC_tantares_mek_mpk_service_module_s2_1 = #LOC_tantares_mek_mpk_service_module_s2_1
      #LOC_tantares_mek_mpk_service_module_s2_1_description = #LOC_tantares_mek_mpk_service_module_s2_1_description
      #LOC_tantares_mek_mpk_service_module_s2_1_tags = #LOC_tantares_mek_mpk_service_module_s2_1_tags


      
 
        
        
